body {
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    margin: 1em 0em;
}
.logo-text p {
    font-family: 'Abel', sans-serif;
    text-align: center;
}
/*Nav*/
.nav-banner {
    background-color: white;
    text-align: center;
    padding: 0em 0em;
}

/*List*/
ul>li{
    text-align: right;
    padding-top:  .5em ;
    padding-bottom: .5em;
    margin-left: 1em;
    margin-right: 0;
    width: auto;
}
nav{
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-self: flex-start;
    width: 40%;
}
li>a{
    color: black;
    font-family: 'Abel', sans-serif;
    text-decoration: none;
    font-size: 0.6em;
}
.nav-links{
    display: flex;
    list-style: none;
    margin: 0em 4em;
    padding: 0;
}
/*Image*/
img {
    margin-top: -5vw;
    margin-bottom: -5vw;
    max-width: 15vw;
}
/*Transitioned from very small screen to small device*/
@media screen and (min-width:576px) {
    body {
        /*flex-wrap: wrap;*/
    }
}