.hidden-on-mobile {
    display: none;
}

.tabs-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-footer {
    /*width: 0;*/
}
.card-footer div {
    display: inline-block;
}
containe {

}
h1 {
    position: relative;
    text-align: center;
    color: black;
    font-size: 30px;
    background-color: #FFF;
    opacity: .6;
    margin: 0;
}
.jumbotron{
    margin:15px 0px 0px 0px;
    border-radius:10px;
    background-image: url("../images/pizza.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white !important;
    /*height:340px;*/
}

.navbar {
    padding: .1em 5em;
}
.navbar p {
    padding: 20px 0px 0px 0px;
}
/*Transitioned to larger screen*/
@media screen and (min-width:992px) {
    .hidden-on-mobile{
        display: block;
        width: 100%;
    }
}