.hidden-on-mobile {
    display: none;
}

.tabs-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Transitioned to larger screen*/
@media screen and (min-width:992px) {
    .hidden-on-mobile{
        display: block;
        width: 100%;
    }

}