* {
    box-sizing: border-box;
}
a {
    display: inline-block;
    font-size: 1.5em;
}
nav {
    background: lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}
nav ul {
    font-family: "Work Sans", sans-serif;
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: center;
}
.nav-bar-logo {
    font-family: "Work Sans", sans-serif;
    font-size: 3em;
    padding: .2em 0 .2em 40px;
    margin: 0;
    border: 0;
}
nav ul li {
    padding: 0 .5em;
}

nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: blue;
}
body {
    font-weight: bold;
}
.nav-bar-left {
    justify-content: flex-start
}
.nav-bar-right {
    justify-content: flex-end;
    padding-right: 40px;
}
p {
    text-align: center;
}
