.fancy-header {
    color: purple; /* single line comment */
}
h1 {
    margin: 50px auto;
    width: 500px;
    padding: 10px;
}

h2,
h3,
h4,
h5,
h6 {
    color: green;
}

body {
    background-color: #FCD6CB;
    background-image: url('../images/technology-background-1632715.jpg');
    background-repeat: repeat-y;
}