.fancy-header {
    color: purple; /* single line comment */
}
h1 {
    margin: 50px auto;
    width: 500px;
    padding: 10px;
}

h2,
h3,
h4,
h5,
h6 {
    color: green;
}

html {
    background-size: 30%;
    background-color: #FCD6CB;
    background-image: url('../images/technology-background-1632715.jpg') ;
    background-repeat: no-repeat;
    background-position: top center;
}
body
{ font-style: oblique; }
ul { list-style: square; }
td {
    padding: 10px;
    font-size: 12px;
}
tr {
    padding: 14px;
    font-size: 18px;
}
table {
    border-spacing: 10px;
    border-collapse: separate;
}
/* unvisited link (:link) */
a:link {
    color:red;
}

/* visited link (:visited) */
a:visited {
    color:black;
}

/* mouse hover over link (:hover) */
a:hover {
    color:blue;
}

/* active/selected link (:active) */
a:active {
    color:green;
}