* {
    margin: 0;
}

#map{
    height: 500px;
    width: 100%;
    border: 2px solid black;
    box-shadow: 4px 4px 4px black;
}


.coordinates2 {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

/*
.container {
    position: relative;
    font-size: small;
}

.containerbackground {
    !*margin: 3rem;*!
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    !*transform: rotate(300deg);
    -webkit-transform: rotate(300deg);*!
    color: #c6afaf;
}*/
