/*///////////////////Smaller screen/////////////////*/
body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}
/*Nav*/
.alert-info {
    background-color: skyblue;
    border: .2em solid grey;
    text-align: center;
    padding: 1em 4.5em;
}
.alert-info a{
    text-decoration: none;
    color: black;
}
/*List*/
ul>li{
    background-color: white;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
}
.nav-links{
    list-style: none;
    margin: .5em;
    padding-right: 2.5em;
}

/*///////////////////Larger screen/////////////////*/
@media screen and (min-width:992px) {
    body {
        background-color: white;
        flex-direction: row;
    }
    .hidden-on-desktop {
        display: none;
    }
    h1 {
        align-self: flex-start;
        align-content: flex-start;
        margin: 0 2em ;
    }
    h4 {
        display: flex;
        flex-wrap: wrap;
    }
    ul>li{
        background-color: white;
        margin-right: 0;
        margin-left: 0;
        width: auto;
    }
    p {
        margin-bottom: 0;
    }
    /*.top-header-left {
        display: flex;
        align-self: flex-start;
        margin: 0;
    }*/
    .top-header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-content: flex-end;
        align-self: flex-start;
        margin-left: auto;
    }
    header,
    .heading,
    nav {
        display: flex;
        align-items: center;
        width: 100%;
    }
    header {
        justify-content: space-between;
    }
    mapboxgl-marker, mapboxgl-marker-anchor-center {
        visibility: hidden;
    }
}

